<template name="_joinedGroup">
    <a class="item item-icon-left item-button-right {{getGroupClass group}}" href="{{pathFor route='group.show' data=group}}">
      {{#with group}}
        {{> ionIcon icon='person-stalker'}}
        <h2>{{name}} ({{count}}人)</h2>
        <p>{{desc}} </p>
      {{/with}}
      {{#unless shared}}
        {{#with group}}
          <button class="button leave-group button-positive ion-ios-close-outline"></button>
        {{/with}}
      {{/unless}}
    </a>
</template>
