<template name="groupsShow">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton }}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Profile of @{{group.name}}</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#with group}}
          {{#ionItem class="item-thumbnail item-thumbnail-left"}}
          <img src="http://www.churchteams.com/ct/Data/Sites/1/group.jpg">
            <h2>{{name}} ({{count}}人)</h2>
            <p>{{desc}} </p>

          {{#each members}}
            <div class="item-avatar" style='position:relative'>
              <img src="{{picture}}" height="40" width="40">
            </div>
          {{/each}}
          {{/ionItem}}
        <div class="item item-divider">
          <h2>Group chat</h2>
        </div>
        <div class="list list-inset">
  			  {{#each messages}}
            {{#ionItem class="item-text-wrap item-icon-left narrow-padding-vertical"}}
              <image src="{{avatar}}"/>
              <h4>{{name}} </h4>
              <p>{{message}} </p>
            {{/ionItem}}
  			  {{/each}}
        </div>
      {{/with}}
    {{/ionContent}}

    {{#ionFooterBar class="bar-dark"}}
	    <!-- <input type="text" id="name" placeholder="Your name"> -->
	    <input type="text" id="messageBox" placeholder="What do you want to say?">
    {{/ionFooterBar}}
  {{/ionView}}
</template>
