<template name="groupChat">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton }}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">@{{name}}</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="group-chat-wrapper"}}
		  {{#each messages}}
        <p>{{name}}: {{message}} </p>
		  {{/each}}
    {{/ionContent}}

    {{#ionFooterBar class="bar-dark"}}
	    <!-- <input type="text" id="name" placeholder="Your name"> -->
	    <input type="text" id="messageBox" placeholder="What do you want to say?">
    {{/ionFooterBar}}
  {{/ionView}}
</template>
