<template name="groupShow">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="groups"}}
  {{/contentFor}}
  {{#if currentUser}}
    {{#contentFor "headerButtonRight"}}
      <button class="button leave-group button-positive pull-right" >Leave</button>
    {{/contentFor}}
  {{/if}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">@{{name}} ({{members.length}}人)</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#if isInRole 'admin'}}
        {{> _groupAdminActions}}
      {{/if}}
      <div class="padding">
        <p>{{desc}} </p>
        {{#each members}}
          <a class="item-avatar member-link" style='position:relative'>
            <img src="{{picture}}" height="40" width="40">
          </a>
        {{/each}}
        <p>&nbsp;</p>
    </div>

    {{/ionContent}}
  {{/ionView}}
</template>
