<template name="groupChat">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton }}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">({{count}}) {{name}}</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="group-chat-wrapper"}}
      {{#each messages}}
        <div class="message-item-time">{{ displayMessageTime }}</div>
        <div class="message-item">
          <img src="{{avatar}}" alt="{{name}}" class="avatar member-link" />
          <span class="message-user-name">
            {{name}}
          </span>
          <p class="message-content left">
             {{message}}
          </p>
        </div>
      {{/each}}
    {{/ionContent}}

    <div class="bar bar-footer bar-dark" data-keyboard-attach>
	    <input type="text" id="messageBox" placeholder="What do you want to say?">
    </div>
  {{/ionView}}
</template>
