<template name="groupShow">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="groups"}}
  {{/contentFor}}
  {{#if currentUser}}
    {{#contentFor "headerButtonRight"}}
      <button class="button leave-group button-positive pull-right" >Leave</button>
    {{/contentFor}}
  {{/if}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">@{{name}} ({{members.length}}人)</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#if isInRole 'admin'}}
        {{> _groupAdminActions}}
      {{/if}}
      <div class="padding">
        <p>{{desc}} </p>

        {{#ionSlideBox class="group-member"}}
          {{#each members}}
            {{#ionSlide class="dark-bg"}}
              {{> _profileSummary profileSummary}}
            {{/ionSlide}}
          {{/each}}
        {{/ionSlideBox}}

        <p>&nbsp;</p>
    </div>

    {{/ionContent}}
  {{/ionView}}
</template>
