<template name="groupMembers">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton href=backUrl}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Members</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionSlideBox class="group-member" initialSlide=defaultSlideIndex}}
        {{#each users}}
          {{#ionSlide class="dark-bg"}}
            <div class="card profile-wrapper">
              <div class="padding profile-slide">
                <div class="item item-avatar">
                  <img src="{{getUserPicture this}}" alt="" />
                  <h2>{{getUserName this}}</h2>
                  <p>{{ getUserHeadline this }}</p>
                </div>
                <div class="item">
                  {{ this.summary }}
                </div>
                <div class="item">
                  {{#if notCurrentUser this }}
                    {{>_meetButton user=this}}
                  {{/if}}
                  {{#if isGroupCreator}}
                    <button class="button button-positive kick-user-button">Kick User Out</button>
                  {{/if}}
                </div>
                <div class="item item-divider">
                  Shared Connections
                </div>
                <div class="item shared-connections-wrapper">
                </div>
              </div>
            </div>
          {{/ionSlide}}
        {{/each}}
      {{/ionSlideBox}}
    {{/ionContent}}
  {{/ionView}}
</template>
