.meteor/local
.meteor/meteorite
.idea
server/config.js
settings.local.json
/.project
*~
npm-debug.log

client/templates/calendar/_adminActions.js
client/templates/calendar/_adminActions.js.map
client/templates/calendar/eventsShow.js
client/templates/calendar/eventsShow.js.map
client/templates/updates/updates.js
client/templates/updates/updates.js.map

server/methods.js
server/methods.js.map

