$positive: #DE4F4F;

@import '../../.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '../../.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

.ionic-body.platform-android {
  font-family: "Roboto", sans-serif;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif;
  }

  .tab-item {
    font-family: "Roboto", sans-serif;
  }
}

.ion-slide {
  text-align: center;

  &.dark-bg {
    h3 {
      color: #fff;
    }
  }
}
.popover {
  height: auto;
}

.item p {
  margin-bottom: 0;
}

.item-button-left, .item-button-right {
  button {
    top: 16px;
  }
}

.loading-container .loading {
  font-size: 25px;
}


.item-avatar {
  line-height: 45px;
}

.selectize-control.multi .selectize-input > div {
  float: left;
}

.narrow-padding-vertical {
  padding-top: 2px;
  padding-bottom: 2px;
}

#chat {
  height: 100%;
  width: 100%;
  overflow: scroll;
  padding: 10px 10px 40px 10px;
  border: 1px black solid;
}
.qa-tabs {
  .hide {
    display: none;
  }
  .tab-head {
    .tab-head-item {
      display: inline-block;
      text-align: center;
      width: 45%;
    }
  }
}

.overall {
  width: 100%;
  .left {
    float: left;
    width: 30%;
    text-align: center;
  }
  .right{
    float:right;
    width:70%;
    height:84px;
  }
}

$color2: white;
$color4: #DE4F4E;
$color6: black;

.event-item {
  padding-left: 110px;
}
.date-wrapper {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.date-wrapper::before {
  display: block;
  width: 80px;
}
.date-card {
  margin:  2px 15px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  width: 80px;
  height: 80px;
  background-color: $color2;
  box-shadow: 0px 0px 5px 2px rgba(224, 78, 75, 0.8);

  p {
    margin:  0px 0px;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    font-size:15px;
    color: lighten($color6, 10%);
  }

  h1 {
    margin:  5px 5px;
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    font-size:22px;
    color: $color4;
  }
}
.skill-name {
  background: #1b9dec;
  display: inline-block;
  padding: 3px 5px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  float: left;
  margin: 2px;
}
.skill-name.hide {
  display: none;
}
.skill-toggle {
  display: inline-block;
  background: #ccc;
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 12px;
  margin: 2px;
  cursor: pointer;
}
.message-item {
  clear: both;
  padding: 5px;
  .avatar {
    float: left;
    width: 40px;
    height: 40px;
  }
  .message-content {
    float: left;
  }
}
