<template name="qaShow">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="qa"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Startup Q&A</h1>
  {{/contentFor}}

  {{#ionView buttonRight=true}}
    {{#ionContent}}
      <div class="card">
        <div class="item">
          {{content}}
        </div>
        {{#if tags}}
        <div class="item">
          {{#each tags}}
            {{ this }}
          {{/each}}
        </div>
        {{/if}}
        <div class="item">
          {{authorName}} {{timeAgo createdAt}}
        </div>
        <div class="item item-divider">
          New Answer
        </div>
        <div class="item">
          {{#autoForm collection="Answers" id="answerForm" type="insert" fields='content'}}
            {{> afQuickField name='content'}}
            <input type="hidden" name="questionId" data-schema-key="questionId" value="{{this._id}}"/>
            <button class="button button-positive button-block">Submit</button>
          {{/autoForm}}
        </div>
        <div class="item item-divider">
          Answers
        </div>
        {{#each answers}}
          <div class="item">
            {{content}} {{authorName}} {{timeAgo createdAt}} <a class="show-comments-button"><i class="icon ion-chatbubble"></i>({{commentsCount}})</a>
          </div>
        {{/each}}
        <div class="item item-divider">
          New Comment
        </div>
        <div class="item">
          {{#autoForm collection="QaComments" id="qaCommentForm" type="insert" fields='content'}}
            {{> afQuickField name='content'}}
            <input type="hidden" name="questionId" data-schema-key="questionId" value="{{this._id}}"/>
            <button class="button button-positive button-block">Submit</button>
          {{/autoForm}}
        </div>
        <div class="item item-divider">
          Comments
        </div>
        {{#each comments}}
          <div class="item">
            {{ content }} {{authorName}} {{timeAgo createdAt}}
          </div>
        {{/each}}
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
