<template name="_eventTabs">
  {{#if isAndroid}}
    {{#ionTabs style="android" class="tabs-background-positive tabs-color-light"}}
      {{> ionTab title="Event Details" path="events.show" icon="android-home"}}
      {{#if group}}
        {{> ionTab title="Event Group" class="join-group" icon="person-stalker"}}
      {{/if}}
    {{/ionTabs}}
  {{else}}
    {{#ionTabs style="ios"}}
      {{> ionTab title="Event Details" path="events.show" icon="ios-home"}}
      {{#if group}}
        {{> ionTab title="Event Group" class="join-group" icon="person-stalker"}}
      {{/if}}
    {{/ionTabs}}
  {{/if}}
</template>
