<template name="_meetupShow">
  {{#with event}}
    <div class="card">
      <div class="item item-divider">
        Time: {{ startDate }}
      </div>
      <div class="item item-divider">
        Address: {{ formatMeetupAddress venue }}
      </div>      
      <div class="item item-divider">
        Headcount: {{ headcount }}
      </div>
      <div class="item item-divider">
        Status: {{ status }}
      </div>
      <div class="item item-divider">
        Link: <a href="{{event_url}}" class="external-link">{{ event_url }}</a>
      </div>
      <div class="item item-text-wrap">
        {{{ description }}}
      </div>
    </div>
  {{/with}}
</template>
