<template name="calendar">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Calendar</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="events-wrapper"}}
      {{#ionList}}
        {{#each events}}
          <a href="{{pathFor 'events.show'}}" class="item event-item {{highlightClass}} {{ markedEventClass}}">
            <div class="date-wrapper">
              <div class="date-card">
                <p style="background-color: #499ff2">{{ getDateMonth startDate }}</p>
                <h1>{{ getDateDay startDate }}</h1>
                <p>{{ getDay startDate }}</p>
              </div>
            </div>
            {{#if meetupEvent }}
            <h2>{{ name }}</h2>
            <p>Organizer: <b>{{ group.name }}</b></p>
            {{else}}
            <h2>{{ title }}</h2>
            <p>Organizer: <b>{{ organizer.name }}</b></p>
            {{/if}}
            <p>Time: <b>{{ getTime startDate }}</b></p>
            <p>City: <b>{{#if venue}}{{ venue.city }}{{/if}}</b></p>
          </a>
        {{/each}}

      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>


