<template name="calendar">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Calendar</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="events-wrapper"}}
      {{#ionList}}
        {{#each events}}
          {{#ionItem path="events.show" class="item-icon-right"}}
            {{#if meetupEvent }}
                <h2 class={{itemClass}}>{{ name }}</h2>
                <p class={{itemClass}}>{{ group.name }}</p>
                <p class={{itemClass}}>{{ getDateMonth startDate }}</p>
                <p class={{itemClass}}>{{ getDateDay startDate }}</p>
                <p class={{itemClass}}>{{ getDay startDate }}</p>
                {{#if venue}}
                    <p class={{itemClass}}>{{ venue.city }}</p>
                {{/if}}
            {{else}}
                <div class="overall">
                    <div class="left">
                        <div class="date-wrapper">
                            <div class="date-card">
                                <p class={{itemClass}}>{{ getDateMonth startDate }}</p>
                                <h1 class={{itemClass}}>{{ getDateDay startDate }}</h1>
                                <p class={{itemClass}}>{{ getDay startDate }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <h2 class={{itemClass}}>{{ title }}</h2>
                        <p class={{itemClass}}>Organizer: <b>{{ organizer.name }}</b></p>
                        <p class={{itemClass}}>Time: <b>{{ getTime startDate }}</b></p>
                        {{#if venue}}
                            <p class={{itemClass}}>City: <b>{{ venue.city }}</b></p>
                        {{/if}}
                    </div>
                </div>
            {{/if}}
          {{/ionItem}}
        {{/each}}

      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>


