<template name="eventsShow">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton }}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{event.title}}{{event.name}}</h1>
  {{/contentFor}}

  {{#ionView buttonRight=true}}
    {{#ionContent}}
      {{#if isInRole 'admin'}}
        {{> _adminActions}}
      {{/if}}
      {{#if event.groupId}}
        {{#ionItem class="item-button-right"}}
          {{#if member}}
            Go to Event Group
          {{else}}
            Join Event Group
          {{/if}}
          <button class="button button-positive join-group">
            <i class="icon ion-person-stalker"></i>
          </button>
        {{/ionItem}}
      {{/if}}
      {{#if isMeetupEvent event}}
        {{>_meetupShow event=event }}
      {{else}}
        {{>_eventbriteShow event=event }}
      {{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>
