<template name="eventsShow">

  {{#if event.imageUrl }}
    <div id="wx_pic" style="display:none;">
      <img src="{{event.imageUrl}}">
    </div>
  {{/if}}
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton }}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{event.title}}{{event.name}}</h1>
    <script>
      top.document.title = '{{event.title}}{{event.name}}';
    </script>
  {{/contentFor}}

  {{#ionView buttonRight=true}}
    {{#ionContent}}
      {{#if isInRole 'admin'}}
        {{> _adminActions}}
      {{/if}}
      {{#if isMeetupEvent event}}
        {{>_meetupShow event=event }}
      {{else}}
        {{>_eventbriteShow event=event }}
      {{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>
