<template name="publicProfile">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton }}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Public Profile</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding">
        {{#ionList}}
          <div class="detail-wrapper">
            {{>_followButton user=user}}
            {{>_meetButton user=user}}
            {{#if user.profile}}
              {{>_profileDetails profile=user.profile interests=user.interestsTags areas=user.areasTags sharedGroups=sharedGroups sharedConnections=sharedConnections}}
            {{/if}}
          </div>
        {{/ionList}}
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
