<template name="publicProfile">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton }}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Public Profile</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding">
        {{#ionList}}
          {{#if currentUser }}
            {{#if isNotCurrentUser user }}
              {{#if isFollowing user }}
                <button class="button button-block">
                  Following
                </button>
              {{else}}
                <button class="button button-block button-positive follow-button">
                  Follow
                </button>
              {{/if}}
            {{/if}}
          {{/if}}
          <div class="detail-wrapper">
            {{#if user.profile}}
              {{>_profileDetails profile=user.profile sharedGroups=sharedGroups}}
            {{/if}}
          </div>
        {{/ionList}}
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
