<template name="homepage">
  Homepage
</template>

<template name="calendar">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Calendar</h1>
  {{/contentFor}}
  
  {{#ionView}}
    {{#ionContent}}
      <div class="padding">
       {{tmplName}}
      </div>
    {{/ionContent}}
  {{/ionView}}

</template>

<template name="profile">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Profile</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding">
       {{tmplName}}
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="_groupItem">
  {{#with group}}
    {{#ionItem path=../path buttonRight=true avatar=true}}
      <img src="http://www.churchteams.com/ct/Data/Sites/1/group.jpg" width='120px'>
      <h2>{{name}} ({{count}}人)</h2>
      <p>{{desc}} </p>
      <button class="button button-positive">{{> ionIcon icon="ios-people"}} &nbsp;Join</button>
    {{/ionItem}}
  {{/with}}
</template>

<template name="groupsShow">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Profile of @{{group.name}}</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      
        {{#with group}}

              <img src="http://www.churchteams.com/ct/Data/Sites/1/group.jpg" width='120px'>
              <h2>{{name}} ({{count}}人)</h2>
              <p>{{desc}} </p>

               <div class="padding">
              {{#each members}}
                <a href="{{pathFor 'users.show'}}" class="item-avatar" style='position:relative'>
                  <img src="https://avatars3.githubusercontent.com/u/1024025?v=3&s=400" height="40" width="40">
                </a>
              {{/each}}
              </div>
        {{/with}}
      
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="groups">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Groups</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{#ionList}}

        {{#each groups}}
          {{> _groupItem group=this path="groups.show"}}
        {{/each}}
<!--
        {{#each times}}

          {{#ionItem buttonRight=true avatar=true}}
              
              <img src="http://www.churchteams.com/ct/Data/Sites/1/group.jpg" width='120px'>
              <h2>硅谷创业者联盟 （658 人）</h2>
              <p> </p>
              <span class="comments-count">
              {{numberOfComments}}
              {{> ionIcon icon="ios-chatbubble" }}
              创业者的交流合作平台
              </span>

            <button class="button button-positive">{{> ionIcon icon="ios-people"}} &nbsp;Join</button>

          {{/ionItem}}

        {{/each}}
-->
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}


</template>

<template name="updates">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Updates</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding">
       {{tmplName}}
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>