<template name="sideMenu">

  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">StarLink 创业圈</h1>
<!--
    <button class="button button-clear pull-right" data-ion-menu-toggle="right">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
-->

  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#if currentUser}}
        <div class="padding">
          <button class="button button-positive button-block" data-action="logout">Log Out</button>
        </div>
      {{else}}
        {{> atForm}}
      {{/if}}
    {{/ionContent}}
  {{/ionView}}

</template>
