<template name="_profileDetails">
  {{#ionList}}
    {{#with profile}}
      <div class="item item-divider">
        Personal Info:
      </div>
      {{#ionItem class="item-thumbnail item-thumbnail-left"}}
        <img src="{{pictureUrl}}"/>
        <h2>{{firstName}} {{lastName}}</h2>
        <p>{{emailAddress}}</p>
        <h5>{{headline}}</h5>
        <h5> {{location.name }} | Connections: {{numConnections}} </h5>
        <div class="item item-divider">
          <h3>Skills</h3>
          {{> tagInput}}
        </div>
      {{/ionItem}}
    {{/with}}
    {{#if sharedGroups}}
    <div class="item item-divider">
      Shared Groups:
      {{#each sharedGroups}}
        {{> _joinedGroup}}
      {{/each}}
    </div>
    {{/if}}
    <div class="item item-divider">
      Connections:
    </div>
    {{#each connections}}
      {{#if notprivate this}}
        {{#ionItem buttonRight=true avatar=true}}
        <img src="{{pictureUrl}}" />
          {{firstName}}, {{lastName}}, {{headline}}, {{id}}, {{getLinkedinProfieId siteStandardProfileRequest.url}}
        {{/ionItem}}
      {{/if}}
    {{/each}}
  {{/ionList}}
</template>
