<template name="profile">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Profile</h1>
  {{/contentFor}}

  {{#if currentUser}}
    {{#contentFor "headerButtonRight"}}
      <button class="button button-clear" data-ion-modal="profileEdit">{{> ionIcon icon="ios-gear-outline"}}</button>
    {{/contentFor}}
  {{/if}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding">
        {{#if currentUser}}
          {{#with user}}
            {{#if profile}}
              {{#with profile}}
                {{#ionList}}
                <div class="item item-divider">
                  Personal Info:
                </div>
                {{#ionItem class="item-thumbnail item-thumbnail-left"}}
                  <img src="{{pictureUrl}}"/>
                  <h2>{{firstName}} {{lastName}}</h2>
                  <p>{{emailAddress}}</p>
                  <h5>{{headline}}</h5>
                  <h5> {{location.name }} | Connections: {{numConnections}} </h5>
                  <div class="item item-divider">
                    <h3>Skills</h3>
                    {{> tagInput}}
                  </div>
                {{/ionItem}}
                  <div class="item item-divider">
                    Connections:
                  </div>
                  {{#each values}}
                     {{#if notprivate this}}
                      {{#ionItem buttonRight=true avatar=true}}
                      <img src="{{pictureUrl}}" />
                        {{firstName}}, {{lastName}}, {{headline}}, {{id}}, {{getid siteStandardProfileRequest.url}}
                      {{/ionItem}}
                    {{/if}}
                  {{/each}}
                {{/ionList}}
              {{/with}}
            {{else}}
              {{#ionList}}
                <div class="item item-divider">
                  Email: {{ getUserEmail user}}
                </div>
              {{/ionList}}
            {{/if}}
          {{/with}}
        {{else}}
          {{> atForm}}
        {{/if}}
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
