<template name="profile">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Profile</h1>
  {{/contentFor}}

  {{#if currentUser}}
    {{#contentFor "headerButtonRight"}}
      <button class="button button-clear profile-edit-button" data-ion-modal="profileEdit">{{> ionIcon icon="ios-gear-outline"}}</button>
      <button class="button button-clear refresh-profile-button">{{> ionIcon icon="ios-refresh-outline"}}</button>
    {{/contentFor}}
  {{/if}}

  {{#ionView}}
    {{#ionContent class="profile-wrapper"}}
      <div class="padding">
        {{#if currentUser}}
          {{#with user}}
            {{#if profile}}
              {{> _profileDetails profile=profile areas=areasTags interests=interestsTags user=this}}
            {{/if}}
          {{/with}}
        {{else}}
          {{> atForm}}
          <div class="welome-group-avatars">
            {{#each welcomeGroupMembers}}
              <a href="{{ pathFor 'publicProfile' id }}">
                <img src="{{picture}}" alt="" />
              </a>
            {{/each}}
          </div>
        {{/if}}
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
