<template name="notifications">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Notifications</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}

        {{#each notifications}}
          {{#if isPrivateGroupNotification}}
            <div class="item item-avatar item-button-right notification-item">
              <img src="{{meetUserPicture}}" alt="" />
              <h2>
                You can talk to {{meetUserName}} in private group now.
              </h2>
              {{#unless read }}
                <button class="button button-positive read-button">
                  <i class="icon ion-email-unread"></i>
                </button>
              {{/unless}}
            </div>
          {{/if}}
        {{/each}}

      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
