<template name="linksShow">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="updates"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{link.title}}</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{#with link}}
        <div class="card">
          <div class="item item-text-wrap">
            <a href="{{url}}">{{ url }}</a>
          </div>
          <div class="item item-text-wrap">
            {{ userEmail }}
          </div>
          <div class="item item-text-wrap">
            {{ timeAgo createdAt }}
          </div>
          <div class="item item-text-wrap">
            {{ body }}
          </div>
        </div>
      {{/with}}
      <div class="card">
        <div class="item item-divider">
          Comments ({{link.commentsCount}})
          {{#with link}}
            <i class="icon ion-thumbsup upvote-button {{upvotedClass}}"></i>  ({{votesCount}})
          {{/with}}
        </div>
        {{#ionList}}
          {{#each comments}}
            <div class="item">
              <h2>{{ userEmail}}</h2>
              <p>{{timeAgo createdAt}}</p>
              <p>{{content}}</p>
            </div>
          {{/each}}
        {{/ionList}}
        {{#if currentUser}}
        <form class="comment-form">
          <label class="item item-input">
            <textarea placeholder="Add your comment" name="commentContent"></textarea>
          </label>
          <input class="button button-block button-positive add-comment" value="Add Comment" type="submit"/>
        </form>
        {{else}}
          <div class="item">
            Need <a href="{{ pathFor "userAccounts"}}">login </a>to comment.
          </div>
        {{/if}}
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
