<template name="updates">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <a class="button button-clear pull-right" href="{{pathFor 'links.submit' }}">
      <i class="icon ion-plus-round"></i>
    </a>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Updates</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="updates-wrapper"}}
      {{#ionList}}

        {{#each links}}

          {{#ionItem path="links.show"}}
            {{#if thumbnail}}
              <img src="{{thumbnail}}" alt="" class="links-list-thumbnail"/>
            {{/if}}
            <h2>{{title}}  <span class="link-domain">{{domain}}</span></h2>
            <p>{{userName}} posted at {{timeAgo createdAt}}  <i class="icon ion-chatbubble"></i>  ({{commentsCount}})  <i class="icon ion-thumbsup upvote-button {{upvotedClass}}"></i>  ({{votesCount}})</p>
          {{/ionItem}}

        {{/each}}

      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
